<div class="container">
  <div class="container1">
    <div class="row col-xs-12">
        <span class="titulo">{{titulo | uppercase}}</span>
      <div class="part1">
        <form action="" [formGroup]="AlquilerForm" (ngSubmit)="agregarAlquiler()">
          <div id="codec"class="form-floating col-7">
              <input type="text" class="form-control" id="floatingCodec" placeholder="Tipo Cliente"formControlName="tipocliente">
              <div class="text-danger" *ngIf="AlquilerForm.get('tipocliente')?.hasError('required') && AlquilerForm.get('tipocliente')?.touched">El tipo de cliente es obligatorio</div>
              <label for="floatingCodec">Tipo cliente</label>
            </div>
            <div id="codec"class="form-floating col-7">
              <input type="text" class="form-control" id="floatingCodec" placeholder="Nombre"formControlName="nombre">
              <div class="text-danger" *ngIf="AlquilerForm.get('nombre')?.hasError('required') && AlquilerForm.get('nombre')?.touched">El nombre es obligatorio</div>
              <label for="floatingCodec">Nombre</label>
            </div>
            <div id="codec"class="form-floating col-7">
              <input type="number" class="form-control" id="floatingCodec" placeholder="Telefono"formControlName="telefono">
              <div class="text-danger" *ngIf="AlquilerForm.get('telefono')?.hasError('required') && AlquilerForm.get('telefono')?.touched">El telefono es obligatorio</div>
              <label for="floatingCodec">Telefono</label>
            </div>
            <div id="codec"class="form-floating col-7">
              <input type="text" class="form-control" id="floatingCodec" placeholder="Direccion"formControlName="direccion">
              <div class="text-danger" *ngIf="AlquilerForm.get('direccion')?.hasError('required') && AlquilerForm.get('direccion')?.touched">La direccion es obligatoria</div>
              <label for="floatingCodec">Direccion</label>
            </div>
            <select id="codec" class="form-control" formControlName="codigoherramienta" [(ngModel)]="seleccionado" aria-label="Default select example">
              <option selected disabled>Productos</option>
              <option *ngFor="let item of listaProducto" [value]="item.nombre">{{item.nombre}}</option>
              <div class="text-danger" *ngIf="AlquilerForm.get('codigoherramienta')?.hasError('required') && AlquilerForm.get('codigoherramienta')?.touched">El Producto es obligatorio</div>
          </select>
            <div id="day"class="form-floating col-7">
              <input type="number" class="form-control" id="floatingDay" placeholder="Dias"formControlName="diasprestamo">
              <div class="text-danger" *ngIf="AlquilerForm.get('diasprestamo')?.hasError('required') && AlquilerForm.get('diasprestamo')?.touched">Los dias de prestamo es obligatorio</div>
              <label for="floatingDay">Dias de Prestamo</label>
            </div>
            <div id="dep"class="form-floating col-7">
              <input type="number" class="form-control" id="floatingDep" placeholder="Deposito" formControlName="deposito">
              <div class="text-danger" *ngIf="AlquilerForm.get('deposito')?.hasError('required') && AlquilerForm.get('deposito')?.touched">El deposito es obligatorio</div>
              <label for="floatingDep">Deposito</label>
            </div>
            <div id="total"class="form-floating col-7">
              <input  type="number" class="form-control" id="floatingTot" placeholder="Total" formControlName="total" readonly>
              <label for="floatingTot">Total del prestamo</label>
            </div>
        <div class="container12">
          <div class="row col-xs-12">
              <button id="botong" type="submit" class="btn btn-success col-xs-4 mb-5">Guardar</button>
              <button id="botonc" type="button" class="btn btn-secondary col-xs-4" routerLink="/lista-alquiler">Cancelar</button>
          </div>
        </div>
      </form>
      </div>
      <div class="part2">
        <div id="product" class="card col-3" style="width: 25%;">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Imagen</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
