<app-navbar></app-navbar>

    <div class="container mt-2 text-center">
        <div class="row">
            <div class="col-lg-12 offset-1">
                <div class="card">
                    <div class="card-body">
                      <div class="span">
                        <span class="titulo text-white">ALQUILER</span>
                      </div>
                      <div class="input-group">
                        <input type="text" class="form-control" placeholder="Buscar producto..." [(ngModel)]="filtroAlquiler">
                        <button type="button" class="btn btn-primary" (click)="filtrarProductos()" >Buscar</button>
                    </div>
                        <form action="" class="mt-3">
                            <div class="table-responsive">
                                <table *ngIf="listaAlquiler.length > 0" class="table table-bordered table-hover border-dark">
                                    <thead>
                                      <tr>
                                        <th scope="col">Cliente</th>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Telefono</th>
                                        <th scope="col">Direccion</th>
                                        <th scope="col">Herramienta</th>
                                        <th scope="col">Dias</th>
                                        <th scope="col">Cantidad</th>
                                        <th scope="col">Deposito</th>
                                        <th scope="col">Total Alquiler</th>
                                        <th scope="col">Total Pago</th>
                                        <th scope="col">Edit</th>
                                        <th scope="col">Delete</th>
                                        <th scope="col">Imprimir</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr *ngFor="let alquiler of listaAlquiler">
                                        <td>{{alquiler.tipocliente}}</td>
                                        <td>{{alquiler.nombre}}</td>
                                        <td>{{alquiler.telefono}}</td>
                                        <td>{{alquiler.direccion}}</td>
                                        <td>{{alquiler.codigoherramienta}}</td>
                                        <td>{{alquiler.diasprestamo}}</td>
                                        <td>{{alquiler.cantidades}}</td>
                                        <td>{{alquiler.deposito | currency: 'COP'}}</td>
                                        <td>{{alquiler.total | currency: 'COP'}}</td>
                                        <td>{{alquiler.totalPagar | currency: 'COP'}}</td>
                                        <td><i [routerLink]="['/editar-alquiler', alquiler._id]" class="fa-solid fa-pen-to-square text-primary"></i></td>
                                        <td><i (click)="eliminarAlquiler(alquiler._id)" class="fa-solid fa-trash text-danger"></i></td>
                                        <td><i (click)="generarPDF(alquiler)" class="fa-solid fa-print"></i></td>
                                      </tr>
                                    </tbody>
                                  </table>
                                  <h5 *ngIf="listaAlquiler.length == 0" class="text-center mt-5 text-danger">No hay datos para mostrar</h5>
                              </div>
                                    <div id="button" class="mb-3">
                                        <button class="btn btn-primary float-start" routerLink="/inicio">VOLVER</button>
                                        <button type="button" class="btn btn-dark float-end" data-bs-toggle="modal" data-bs-target="#staticBackdrop">CREAR</button>
                                    </div>
                        </form>

                      <!-- Modal -->
                      <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-body">
                              <app-crear-alquiler></app-crear-alquiler>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
