.card{width: 90%;background: transparent; border: 2px solid rgba(255, 255, 255, .5);border-radius: 20px; backdrop-filter: blur(20px); margin-left: 15%;}
.card-header{
    background-color: white;
    border-radius: 10px;
}
.report-card {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.report-item {
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: white;
    margin: 10px;
    padding: 15px;
    transition: box-shadow 0.3s ease-in-out;
}
button{margin-top: 15px;}
.report-item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.report-item h5 {
    margin-top: 0;
    margin-bottom: 10px;
}

.report-item p {
    margin: 5px 0;
}

.report-item strong {
    color: #3498db;
}
@media only screen and (min-width: 980px){
    .card{width: 100%;}
}
@media only screen and (min-width: 1024px){
    .card{width: 85%; margin-left: 20%;}
}
@media only screen and (min-width: 1280px){
    .card{width: 85%; margin-left: 19%;}
    .report-item{width: 90%;}
}
