.titulou{
    margin-left: 300px;
    color: white;
}
.formu{
    width: 58%;
    margin-left: 1px;
    border: solid 0.1em black;
   }
#product{
    height: 400px;
    position: absolute;
    margin-left: 700px;
    margin-top: 60px;
}
/* #card{
    margin-top: 260px;
}
#card .btn{
   margin-left: 40px;
} */
#botong{
    margin-left: 10px;
    margin-top: 20px;
}

#botonc{
    width: 10%;
    position: absolute;
    margin-left: 500px;
    margin-top: 20px;
}
