<div class="container-fluid">
    <!-- Menú hamburguesa izquierdo -->
<div class="menu-izquierda">
  <div class="img">
    <img src="../../../assets/images/logoin.png" alt="">
    <hr>
  </div>
  <div class="nav-inicio">
    <i class="fa-solid fa-house" style="color: #dafbfb;"></i>
    <a id="navo" routerLink="/inicio" routerLinkActive="active">INICIO</a>
    <hr>
  </div>
  <ul class="nav-links">
    <li class="nav-item">
      <i class="fa-solid fa-file-invoice" style="color: #bffcfd;"></i>
      <a id="nav" routerLink="/lista-factura" routerLinkActive="active">Facturación</a>
    </li>
    <li class="nav-item">
      <i class="fa-solid fa-clipboard" style="color: #f8fcfc;"></i>
      <a id="nav" routerLink="/lista-producto" routerLinkActive="active">Inventario</a>
    </li>
    <li class="nav-item">
      <i class="fa-solid fa-screwdriver-wrench" style="color: #f3f7f7;"></i>
      <a id="nav" routerLink="/lista-alquiler" routerLinkActive="active">Alquiler</a>
    </li>
    <li class="nav-item">
      <i class="fa-regular fa-pen-to-square" *ngIf="showAdminLink()" style="color: #effbf9;"></i>
        <a id="nav" routerLink="/admin" routerLinkActive="active" *ngIf="showAdminLink()" >Admin</a>
    </li>
  </ul>
</div>

<!-- Navbar -->
<div class="navbar">
  <div class="navbar-title">
      <h1>SIAH CO</h1>
      <p>SISTEMA DE INVENTARIO Y ALQUILER DE HERRAMIENTAS</p>
  </div>
  <!-- app.component.html -->
  <div class="navbar-menu">
    <button class="menu-icon" (click)="toggleMenu()">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </button>
    <div class="menu" [ngClass]="{'open': isMenuOpen}">
      <div class="menu-header">
        <i class="fa-solid fa-arrow-right" style="color: #f4f7fa;" data-bs-dismiss="navbar-menu"></i>
        <h5 class="menu-title">Tabla Informacion</h5>
        <!-- <button type="button" class="btn-close bg-white" data-bs-dismiss="navbar-menu" aria-label="Close"></button> -->
      </div>
      <hr>
      <ul>
        <li><a href="#">Historial</a></li>
        <li><a href="#">Reportes</a></li>
      </ul>
      <div class="but">
        <button type="button" class="btn btn-primary" (click)="singout()" routerLinkActive="activate">Cerrar Sesión</button>
      </div>
    </div>
  </div>  
</div>
<hr class="hr">
</div>