<app-navbar></app-navbar>
<div class="inventario">
    <div class="container mt-5 text-center">
        <div class="row">
            <div class="col-lg-12">
                <div class="card mt-5">
                    <div class="card-body">
                      <div class="span">
                        <span class="titulo text-white">FACTURACIÓN</span>
                      </div>
                        <form action="" class="mt-3">
                            <div class="table-responsive">
                                <table *ngIf="listaFactura.length > 0" class="table table-bordered border-dark">
                                    <thead>
                                      <tr>
                                        <th scope="col">ID Factura</th>
                                        <th scope="col">TipoCliente</th>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Telefono</th>
                                        <th scope="col">Dirección</th>
                                        <th scope="col">Producto</th>
                                        <th scope="col">Cantidad</th>
                                        <th scope="col">Precio</th>
                                        <th scope="col">Edit</th>
                                        <th scope="col">Delete</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr *ngFor="let factura of listaFactura">
                                        <td>{{factura._id}}</td>
                                        <td>{{factura.tipocliente}}</td>
                                        <td>{{factura.nombre}}</td>
                                        <td>{{factura.telefono}}</td>
                                        <td>{{factura.direccion}}</td>
                                        <td>{{factura.productoF}}</td>
                                        <td>{{factura.cantidades}}</td>
                                        <td>{{factura.price}}</td>
                                        <td><i [routerLink]="['/editar-factura', factura._id]" class="fa-solid fa-pen-to-square text-primary"></i></td>
                                        <td><i (click)="eliminarFactura(factura._id)" class="fa-solid fa-trash text-danger"></i></td>
                                      </tr>
                                    </tbody>
                                  </table>
                                  <h5 *ngIf="listaFactura.length == 0" class="text-center mt-5 text-danger">No hay datos para mostrar</h5>
                              </div>
                                    <div id="button" class="mb-3">
                                        <button class="btn btn-primary float-start" routerLink="/inicio">VOLVER</button>
                                        <button type="button" class="btn btn-success float-end" routerLink="/crear-factura">CREAR</button>
                                    </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
