.card-tittle{text-align: center;margin-top: 10px;}
.form-control{border: solid 0.1em;}
.titulo{padding: 5px;border-radius: 0.2em;margin-top: 10px; font-size: 20px;}
form{width: 70%;}
.button{margin-top: 15px;margin-left: 15px; margin-bottom: 10px;}
.btn-close{width: 3%; height: 20px; background-color: white;color: white;}
#botonc{margin-left: 450px; background: transparent; border: solid 0.1em black;}
#botong{background: transparent; border: solid 0.1em black;}
#formulario{width: 100%;}
@media only screen and (min-width: 980px) and (max-width: 1024px) {
    #botonc{margin-left: 60%;}
  }
  @media only screen and (min-width: 1024px) and (max-width: 1280px) {
    #botonc{margin-left: 60%;}
  }