<app-navbar></app-navbar>

<div class="container">
  <div class="card-container">
    <div class="card" routerLink="/lista-factura">
      <img src="../../../assets/images/imagen_2023-11-28_184512862-removebg-preview.png" alt="Imagen 1">
      <div class="card-info">
        <h2>FACTURACIÓN - VENTA</h2>
        <hr>
        <p>En este apartado puedes <strong>generar, ver, eliminar y editar - todas las facturas</strong> que se hayan realizado hasta la fecha ademas de la generacion de estas mismas</p>
      </div>
    </div>

    <div class="card" routerLink="/lista-producto">
      <img src="../../../assets/images/imagen_2023-11-28_185447305-removebg-preview.png" alt="Imagen 2">
      <div class="card-info">
        <h2>PRODUCTOS - INVENTARIO</h2>
        <hr>
        <p>En este apartado puedes <strong>encontrar, crear, eliminar y editar todos los productos - herramientas</strong> que hay en la bodega para ser vendidas alquiladas o llevar el control de ellas mismas</p>
      </div>
    </div>

    <div class="card" routerLink="/lista-alquiler">
      <img src="../../../assets/images/imagen_2023-11-28_185515900-removebg-preview.png" alt="Imagen 3">
      <div class="card-info">
        <h2>ALQUILER - PRESTAMOS</h2>
        <hr>
        <p>En este apartado puedes <strong>generar, ver, eliminar y editar todos los alquileres </strong> que se hayan realizado por cualquier tipo de cliente</p>
      </div>
    </div>
  </div>
</div>
