<nav class="navbar navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">INFORMACION</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Tabla informacion</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Centro de ayudas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Historial</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Notificaciones</a>
            </li>
            <button type="submit" class="btn btn-primary" routerLink="/session">Cerrar Sesion</button>
          </ul>
        </div>
      </div>
    </div>
  </nav>

<div class="container">
    <div class="row">
        <div id="imagen1" class="col-4">
            <a routerLink="/lista-factura"><img src="../../../assets/Clientes-removebg-preview.png" alt=""></a>
            <h2 class="client text-body-white">FACTURAS</h2>
        </div>
        <div id="imagen2" class="col-4">
            <a routerLink="/lista-producto"><img src="../../../assets/Inventario-removebg-preview.png" alt=""></a>
            <h2 class="invetario text-body-white">INVENTARIO</h2>
        </div>
        <div id="imagen3" class="col-4">
            <a routerLink="/lista-alquiler"><img src="../../../assets/Alquier-removebg-preview.png" alt=""></a>
            <h2 class="alquiler text-body-white">ALQUILER</h2>
        </div>
    </div>
  </div>
