.navbar-nav .btn{
    margin-top: 380px;
}

#imagen1, #imagen2, #imagen3{
    width: 29%;
    height: 299px;
    margin-left: 30px;
    margin-top: 150px;
    box-shadow: 4px 4px 4px 4px white;
    background-color: rgb(128, 128, 128);
    border-radius: 0.5em;
}
#imagen1:hover, #imagen2:hover, #imagen3:hover{width: 31%;height: 300px;box-shadow: 4px 4px 4px 4px rgb(78, 88, 66);}
#imagen1 .row:hover{width: 30%; height: 400px;}

.row h2{margin-left: 50px; color: white;}

.client{margin-left: 80px; }
.container .col-4{text-align: center;}