<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div id="imagen1" class="col-4">
            <a routerLink="/lista-factura"><img src="../../../assets/Clientes-removebg-preview.png" alt=""></a>
            <h2 class="client text-body-white">FACTURAS</h2>
        </div>
        <div id="imagen2" class="col-4">
            <a routerLink="/lista-producto"><img src="../../../assets/Inventario-removebg-preview.png" alt=""></a>
            <h2 class="invetario text-body-white">INVENTARIO</h2>
        </div>
        <div id="imagen3" class="col-4">
            <a routerLink="/lista-alquiler"><img src="../../../assets/Alquier-removebg-preview.png" alt=""></a>
            <h2 class="alquiler text-body-white">ALQUILER</h2>
        </div>
    </div>
  </div>
