
.container1{
    width: 80%;
    height: 620px;
    border: double;
    margin-top: 10px;
    margin-left: 100px;
}


#namec label, #numer label, #direc label, #cedue label, #codec label, #code label{
    padding-left: 25px;
}

#namec, #numer, #direc, #cedue, #codec{
    margin-top: 10px;
    margin-left: 200px;
}
.titulou{
    width: 58%;
    padding: 15px;
    background-color: white;
    border-radius: 0.7em;
    margin-top: 20px;
    margin-left: 210px;
    text-align: center;
}

#navi, #nava, #navc{
    margin-left: 20px;
    color: white;
}

#navs,#navse{
    margin-left: 908px;
    color: white;
}
#navse{margin-left: 10px;}

#navc, #navo{color: white;
}

#botong,#botonc, #botone{
    width: 10%;
    height: 43px;
    margin-top: 100px;
    border: double;
}

#botonc{
    margin-left: 200px;
}
#empc{
    width: 58%;
    height: 55px;
    margin-left: 200px;
}

#botong{
    margin-left: 300px;
}

